<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  -->
<mapper namespace="opa_apiMock">

	<resultMap id="resultMapObj" type="com.intkr.saas.domain.dbo.opa.ApiMockDO"> 
		<result property="id" column="id"/> 
		<result property="apiId" column="api_id"/> 
		<result property="name" column="name"/> 
		<result property="req" column="req"/> 
		<result property="rsp" column="rsp"/> 
		<result property="gmtModified" column="gmt_modified"/> 
		<result property="gmtCreated" column="gmt_created"/> 
		<result property="isDeleted" column="is_deleted"/> 
	</resultMap>

	<insert id="insert" parameterType="com.intkr.saas.domain.dbo.opa.ApiMockDO">
		insert into
			a_api_mock(id , api_id , name , req , rsp , gmt_modified , gmt_created , is_deleted)
		values
			(#{id} , #{apiId} , #{name} , #{req} , #{rsp} , now() , now() , 0)
	</insert>

	<insert id="inserts">
		insert into
			a_api_mock(id , api_id , name , req , rsp , gmt_modified , gmt_created , is_deleted)
		values
			<foreach item="data" collection="datas" open="(" separator="," close=")">
				#{data.id} , #{apiId} , #{name} , #{req} , #{rsp} , now() , now() , 0
			</foreach>
	</insert>
	
	<delete id="delete">
		update
			a_api_mock
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id = #{primary}
	</delete>
	
	<delete id="deleteAll">
		update 
			a_api_mock
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id in 
				<foreach item="primary" collection="primarys" open="(" separator="," close=")">
					#{primary}
				</foreach>
	</delete>
	
	<update id="update" parameterType="com.intkr.saas.domain.dbo.opa.ApiMockDO">
		update 
			a_api_mock 
		set 
			<if test="apiId != null">  
				api_id = #{apiId} , 
			</if> 
			<if test="name != null">  
				name = #{name} , 
			</if> 
			<if test="req != null">  
				req = #{req} , 
			</if> 
			<if test="rsp != null">  
				rsp = #{rsp} , 
			</if> 
			gmt_modified = now()
		where 
			id = #{id}
		and
			is_deleted = 0
	</update>
	
	<select id="select" resultMap="resultMapObj">
		select
			*
		from
			a_api_mock
		where 
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="apiId != null and apiId != ''">  
				and api_id = #{apiId} 
			</if>  
			<if test="name != null and name != ''">  
				and name = #{name} 
			</if>  
			<if test="req != null and req != ''">  
				and req = #{req} 
			</if>  
			<if test="rsp != null and rsp != ''">  
				and rsp = #{rsp} 
			</if>  
			<if test="query != null and query != '' and query.minId != null and query.minId != ''">  
				and id &gt;= #{query.minId} 
			</if>  
			<if test="query != null and query != '' and query.maxId != null and query.maxId != ''">  
				and id &lt;= #{query.maxId} 
			</if>  
		<if test="query != null and query != '' and query.orderBy != null and query.orderBy != ''">  
			order by 
				${query.orderBy} 
				<if test="query.order != null and query.order != ''">  
					${query.order} 
				</if>
		</if>
		<if test="_pageSize != null and _pageSize != ''">  
		   	limit 
		   		#{_offset} , #{_pageSize}
		</if> 
	</select>
	
	<select id="count" resultType="java.lang.Long">
		select
			count(1)
		from
			a_api_mock
		where
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="apiId != null and apiId != ''">  
				and api_id = #{apiId} 
			</if>  
			<if test="name != null and name != ''">  
				and name = #{name} 
			</if>  
			<if test="req != null and req != ''">  
				and req = #{req} 
			</if>  
			<if test="rsp != null and rsp != ''">  
				and rsp = #{rsp} 
			</if>  
			<if test="query != null and query != '' and query.minId != null and query.minId != ''">  
				and id &gt;= #{query.minId} 
			</if>  
			<if test="query != null and query != '' and query.maxId != null and query.maxId != ''">  
				and id &lt;= #{query.maxId} 
			</if>  
	</select>

</mapper> 
