<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orderItemEvaluate">

	<resultMap id="OrderEvaluateDO" type="com.intkr.saas.domain.dbo.order.OrderEvaluateDO"> 
        <result property="id" column="id"/> 
        <result property="saasId" column="saas_id"/> 
        <result property="userId" column="user_id"/> 
        <result property="orderId" column="order_id"/> 
        <result property="orderDetailId" column="order_detail_id"/> 
        <result property="shopId" column="shop_id"/> 
        <result property="itemId" column="item_id"/> 
        <result property="evaluate" column="evaluate"/> 
        <result property="describeMatchGrade" column="describe_match_grade"/> 
        <result property="serveAttitudeGrade" column="serve_attitude_grade"/> 
        <result property="deliverySpeedGrade" column="delivery_speed_grade"/> 
        <result property="content" column="content"/> 
        <result property="feature" column="feature"/> 
        <result property="gmtModified" column="gmt_modified"/> 
        <result property="gmtCreated" column="gmt_created"/> 
        <result property="isDeleted" column="is_deleted"/> 
    </resultMap>

	<insert id="insert" parameterType="com.intkr.saas.domain.dbo.order.OrderEvaluateDO">
		insert into
			order_evaluate(id , saas_id , user_id , order_id , order_detail_id , shop_id , item_id , evaluate , describe_match_grade , serve_attitude_grade , delivery_speed_grade , content , feature , gmt_modified , gmt_created , is_deleted)
		values
			(#{id} , #{saasId} , #{userId} , #{orderId} , #{orderDetailId} , #{shopId} , #{itemId} , #{evaluate} , #{describeMatchGrade} , #{serveAttitudeGrade} , #{deliverySpeedGrade} , #{content} , #{feature} , now() , now() , 0)
	</insert>
	
	<delete id="delete">
		update
			order_evaluate
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id = #{primary}
	</delete>
	
	<delete id="deleteAll">
		update 
			order_evaluate
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id in 
				<foreach item="primary" collection="primarys" open="(" separator="," close=")">
	            	#{primary}
	        	</foreach>
	</delete>
	
	<update id="update" parameterType="com.intkr.saas.domain.dbo.order.OrderEvaluateDO">
		update 
			order_evaluate 
		set 
			<if test="saasId != null and saasId != ''">  
			    saas_id = #{saasId} , 
			</if> 
			<if test="userId != null and userId != ''">  
			    user_id = #{userId} , 
			</if> 
			<if test="orderId != null and orderId != ''">  
			    order_id = #{orderId} , 
			</if> 
			<if test="orderDetailId != null and orderDetailId != ''">  
			    order_detail_id = #{orderDetailId} , 
			</if> 
			<if test="shopId != null and shopId != ''">  
			    shop_id = #{shopId} , 
			</if> 
			<if test="itemId != null and itemId != ''">  
			    item_id = #{itemId} , 
			</if> 
			<if test="evaluate != null and evaluate != ''">  
			    evaluate = #{evaluate} , 
			</if> 
			<if test="describeMatchGrade != null and describeMatchGrade != ''">  
			    describe_match_grade = #{describeMatchGrade} , 
			</if> 
			<if test="serveAttitudeGrade != null and serveAttitudeGrade != ''">  
			    serve_attitude_grade = #{serveAttitudeGrade} , 
			</if> 
			<if test="deliverySpeedGrade != null and deliverySpeedGrade != ''">  
			    delivery_speed_grade = #{deliverySpeedGrade} , 
			</if> 
			<if test="content != null and content != ''">  
			    content = #{content} , 
			</if> 
			<if test="feature != null and feature != ''">  
			    feature = #{feature} , 
			</if> 
			gmt_modified = now()
		where 
			id = #{id}
		and
			is_deleted = 0
	</update>
	
	<select id="select" resultMap="OrderEvaluateDO">
		select
			*
		from
			order_evaluate
		where 
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
			    and saas_id = #{saasId} 
			</if>  
			<if test="userId != null and userId != ''">  
			    and user_id = #{userId} 
			</if>  
			<if test="orderId != null and orderId != ''">  
			    and order_id = #{orderId} 
			</if>  
			<if test="orderDetailId != null and orderDetailId != ''">  
			    and order_detail_id = #{orderDetailId} 
			</if>  
			<if test="shopId != null and shopId != ''">  
			    and shop_id = #{shopId} 
			</if>  
			<if test="itemId != null and itemId != ''">  
			    and item_id = #{itemId} 
			</if>  
			<if test="evaluate != null and evaluate != ''">  
			    and evaluate = #{evaluate} 
			</if>  
			<if test="describeMatchGrade != null and describeMatchGrade != ''">  
			    and describe_match_grade = #{describeMatchGrade} 
			</if>  
			<if test="serveAttitudeGrade != null and serveAttitudeGrade != ''">  
			    and serve_attitude_grade = #{serveAttitudeGrade} 
			</if>  
			<if test="deliverySpeedGrade != null and deliverySpeedGrade != ''">  
			    and delivery_speed_grade = #{deliverySpeedGrade} 
			</if>  
			<if test="content != null and content != ''">  
			    and content = #{content} 
			</if>  
			<if test="feature != null and feature != ''">  
			    and feature = #{feature} 
			</if>  
		<if test="query != null and query != '' and query.orderBy != null and query.orderBy != ''">  
		    order by 
				${query.orderBy} 
				<if test="query.order != null and query.order != ''">  
					${query.order} 
				</if>
		</if>
		<if test="_pageSize != null and _pageSize != ''">  
		   	limit 
		   		#{_offset} , #{_pageSize}
		</if> 
	</select>
	
	<select id="count" resultType="java.lang.Long">
		select
			count(id)
		from
			order_evaluate
		where
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
			    and saas_id = #{saasId} 
			</if>  
			<if test="userId != null and userId != ''">  
			    and user_id = #{userId} 
			</if>  
			<if test="orderId != null and orderId != ''">  
			    and order_id = #{orderId} 
			</if>  
			<if test="orderDetailId != null and orderDetailId != ''">  
			    and order_detail_id = #{orderDetailId} 
			</if>  
			<if test="shopId != null and shopId != ''">  
			    and shop_id = #{shopId} 
			</if>  
			<if test="evaluate != null and evaluate != ''">  
			    and evaluate = #{evaluate} 
			</if>  
			<if test="describeMatchGrade != null and describeMatchGrade != ''">  
			    and describe_match_grade = #{describeMatchGrade} 
			</if>  
			<if test="serveAttitudeGrade != null and serveAttitudeGrade != ''">  
			    and serve_attitude_grade = #{serveAttitudeGrade} 
			</if>  
			<if test="deliverySpeedGrade != null and deliverySpeedGrade != ''">  
			    and delivery_speed_grade = #{deliverySpeedGrade} 
			</if>  
			<if test="content != null and content != ''">  
			    and content = #{content} 
			</if>  
			<if test="feature != null and feature != ''">  
			    and feature = #{feature} 
			</if>  
	</select>

</mapper> 