<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tagRelated">

	<resultMap id="TagRelatedDO" type="com.intkr.saas.domain.dbo.tag.TagRelatedDO"> 
        <result property="id" column="id"/> 
        <result property="saasId" column="saas_id"/> 
        <result property="type" column="type"/> 
        <result property="tagId" column="tag_id"/> 
        <result property="relatedId" column="relatedId"/> 
        <result property="gmtModified" column="gmt_modified"/> 
        <result property="gmtCreated" column="gmt_created"/> 
        <result property="isDeleted" column="is_deleted"/> 
    </resultMap>

	<insert id="insert" parameterType="com.intkr.saas.domain.dbo.tag.TagRelatedDO">
		insert into
			sys_tag_related(id , saas_id , tag_id , type , related_id , gmt_modified , gmt_created , is_deleted)
		values
			(#{id} , #{saasId} , #{tagId} , #{type} , #{relatedId} , now() , now() , 0)
	</insert>
	
	<delete id="delete">
		delete from
			sys_tag_related
		where
			id = #{primary}
	</delete>
	
	<delete id="deleteAll">
		update 
			sys_tag_related
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id in 
				<foreach item="primary" collection="primarys" open="(" separator="," close=")">
	            	#{primary}
	        	</foreach>
	</delete>
	
	<update id="update" parameterType="com.intkr.saas.domain.dbo.tag.TagRelatedDO">
		update 
			sys_tag_related 
		set 
			<if test="tagId != null and tagId != ''">  
			    tag_id = #{tagId} , 
			</if> 
			<if test="type != null and type != ''">  
			    type = #{type} , 
			</if> 
			<if test="relatedId != null and relatedId != ''">  
			    related_id = #{relatedId} , 
			</if> 
			gmt_modified = now()
		where 
			id = #{id}
		and
			is_deleted = 0
	</update>
	
	<select id="select" resultMap="TagRelatedDO">
		select
			*
		from
			sys_tag_related
		where 
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
				and saas_id = #{saasId} 
			</if>  
			<if test="tagId != null and tagId != ''">  
			    and tag_id = #{tagId} 
			</if>  
			<if test="type != null and type != ''">  
			    and type = #{type} 
			</if>  
			<if test="relatedId != null and relatedId != ''">  
			    and related_id = #{relatedId} 
			</if>  
		<if test="query != null and query != '' and query.orderBy != null and query.orderBy != ''">  
		    order by 
				${query.orderBy} 
				<if test="query.order != null and query.order != ''">  
					${query.order} 
				</if>
		</if>
		<if test="_pageSize != null and _pageSize != ''">  
		   	limit 
		   		#{_offset} , #{_pageSize}
		</if> 
	</select>
	
	<select id="count" resultType="java.lang.Long">
		select
			count(id)
		from
			sys_tag_related
		where
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
				and saas_id = #{saasId} 
			</if>  
			<if test="tagId != null and tagId != ''">  
			    and tag_id = #{tagId} 
			</if>  
			<if test="type != null and type != ''">  
			    and type = #{type} 
			</if>  
			<if test="relatedId != null and relatedId != ''">  
			    and related_id = #{relatedId} 
			</if>  
	</select>

</mapper> 