<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="itemPropertyValue">

	<resultMap id="resultMapObj" type="com.intkr.saas.domain.dbo.item.ItemPropertyValueDO"> 
		<result property="id" column="id"/> 
		<result property="saasId" column="saas_id"/> 
		<result property="propertyId" column="property_id"/> 
		<result property="value" column="value"/> 
		<result property="note" column="note"/> 
		<result property="sort" column="sort"/> 
		<result property="feature" column="feature"/> 
		<result property="gmtModified" column="gmt_modified"/> 
		<result property="gmtCreated" column="gmt_created"/> 
		<result property="isDeleted" column="is_deleted"/> 
	</resultMap>

	<insert id="insert" parameterType="com.intkr.saas.domain.dbo.item.ItemPropertyValueDO">
		insert into
			item_property_value(id , saas_id , property_id , value , note , sort , feature , gmt_modified , gmt_created , is_deleted)
		values
			(#{id} , #{saasId} , #{propertyId} , #{value} , #{note} , #{sort} , #{feature} , now() , now() , 0)
	</insert>
	
	<delete id="delete">
		update
			item_property_value
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id = #{primary}
	</delete>
	
	<delete id="deleteAll">
		update 
			item_property_value
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id in 
				<foreach item="primary" collection="primarys" open="(" separator="," close=")">
					#{primary}
				</foreach>
	</delete>
	
	<update id="update" parameterType="com.intkr.saas.domain.dbo.item.ItemPropertyValueDO">
		update 
			item_property_value 
		set 
			<if test="propertyId != null">  
				property_id = #{propertyId} , 
			</if> 
			<if test="value != null">  
				value = #{value} , 
			</if> 
			<if test="note != null">  
				note = #{note} , 
			</if> 
			<if test="sort != null">  
				sort = #{sort} , 
			</if> 
			<if test="feature != null">  
				feature = #{feature} , 
			</if> 
			gmt_modified = now()
		where 
			id = #{id}
		and
			is_deleted = 0
	</update>
	
	<select id="select" resultMap="resultMapObj">
		select
			*
		from
			item_property_value
		where 
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
				and saas_id = #{saasId} 
			</if>  
			<if test="propertyId != null and propertyId != ''">  
				and property_id = #{propertyId} 
			</if>  
			<if test="value != null and value != ''">  
				and value = #{value} 
			</if>  
			<if test="note != null and note != ''">  
				and note = #{note} 
			</if>  
			<if test="sort != null and sort != ''">  
				and sort = #{sort} 
			</if>  
			<if test="feature != null and feature != ''">  
				and feature = #{feature} 
			</if>  
		<if test="query != null and query != '' and query.orderBy != null and query.orderBy != ''">  
			order by 
				${query.orderBy} 
				<if test="query.order != null and query.order != ''">  
					${query.order} 
				</if>
		</if>
		<if test="_pageSize != null and _pageSize != ''">  
		   	limit 
		   		#{_offset} , #{_pageSize}
		</if> 
	</select>
	
	<select id="count" resultType="java.lang.Long">
		select
			count(id)
		from
			item_property_value
		where
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
				and saas_id = #{saasId} 
			</if>  
			<if test="propertyId != null and propertyId != ''">  
				and property_id = #{propertyId} 
			</if>  
			<if test="value != null and value != ''">  
				and value = #{value} 
			</if>  
			<if test="note != null and note != ''">  
				and note = #{note} 
			</if>  
			<if test="sort != null and sort != ''">  
				and sort = #{sort} 
			</if>  
			<if test="feature != null and feature != ''">  
				and feature = #{feature} 
			</if>  
	</select>

</mapper> 