<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moneyAccountFlow">

	<resultMap id="ShopMoneyAccountFlowDO" type="com.intkr.saas.domain.dbo.user.MoneyAccountFlowDO"> 
        <result property="id" column="id"/> 
        <result property="saasId" column="saas_id"/> 
        <result property="relatedId" column="related_id"/> 
        <result property="accountId" column="account_id"/> 
        <result property="type" column="type"/> 
        <result property="toAccountId" column="to_account_id"/> 
        <result property="status" column="status"/> 
        <result property="money" column="money"/> 
        <result property="feature" column="feature"/> 
        <result property="note" column="note"/> 
        <result property="gmtModified" column="gmt_modified"/> 
        <result property="gmtCreated" column="gmt_created"/> 
        <result property="isDeleted" column="is_deleted"/> 
    </resultMap>

	<insert id="insert" parameterType="com.intkr.saas.domain.dbo.user.MoneyAccountFlowDO">
		insert into
			u_money_account_flow(id , saas_id , related_id , account_id , status , type , to_account_id , money , feature , note , gmt_modified , gmt_created , is_deleted)
		values
			(#{id} , #{saasId} , #{relatedId} , #{accountId} , #{status} , #{type} , #{toAccountId} , #{money} , #{feature} , #{note} , now() , now() , 0)
	</insert>
	
	<delete id="delete">
		update
			u_money_account_flow
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id = #{primary}
	</delete>
	
	<delete id="deleteAll">
		update 
			u_money_account_flow
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id in 
				<foreach item="primary" collection="primarys" open="(" separator="," close=")">
	            	#{primary}
	        	</foreach>
	</delete>
	
	<update id="update" parameterType="com.intkr.saas.domain.dbo.user.MoneyAccountFlowDO">
		update 
			u_money_account_flow 
		set 
			<if test="saasId != null and saasId != ''">  
			    saas_id = #{saasId} , 
			</if>  
			<if test="accountId != null and accountId != ''">  
			    account_id = #{accountId} , 
			</if>  
			<if test="relatedId != null and relatedId != ''">  
			    related_id = #{relatedId} , 
			</if>  
			<if test="status != null and status != ''">  
			    status = #{status} , 
			</if>  
			<if test="type != null and type != ''">  
			    type = #{type} , 
			</if>  
			<if test="toAccountId != null and toAccountId != ''">  
			    to_account_id = #{toAccountId} , 
			</if>  
			<if test="money != null and money != ''">  
			    money = #{money} , 
			</if>  
			<if test="feature != null and feature != ''">  
			    feature = #{feature} , 
			</if>  
			<if test="note != null and note != ''">  
			    note = #{note} , 
			</if>  
			gmt_modified = now()
		where 
			id = #{id}
		and
			is_deleted = 0
	</update>
	
	<select id="selectByIds" resultMap="ShopMoneyAccountFlowDO">
		select
			*
		from
			u_money_account_flow
		where 
			is_deleted = 0
		and
			id in 
			<foreach item="primary" collection="primarys" open="(" separator="," close=")">
            	#{primary}
        	</foreach>
	</select>
	
	<select id="select" resultMap="ShopMoneyAccountFlowDO">
		select
			*
		from
			u_money_account_flow
		where 
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
			    and saas_id = #{saasId} 
			</if>  
			<if test="relatedId != null and relatedId != ''">  
			    and related_id = #{relatedId} 
			</if>  
			<if test="accountId != null and accountId != ''">  
			    and account_id = #{accountId} 
			</if>  
			<if test="status != null and status != ''">  
			    and status = #{status} 
			</if>  
			<if test="type != null and type != ''">  
			    and type = #{type} 
			</if>  
			<if test="toAccountId != null and toAccountId != ''">  
			    and to_account_id = #{toAccountId} 
			</if>  
			<if test="money != null and money != ''">  
			    and money = #{money} 
			</if>  
			<if test="note != null and note != ''">  
			    and note = #{note} 
			</if> 
			<if test="query != null and query != '' and query.accountIds != null and query.accountIds != ''">  
			    and (
				    	account_id in 
						<foreach item="accountIdTmp" collection="query.accountIds" open="(" separator="," close=")">
			            	#{accountIdTmp}
			        	</foreach>
				    OR
				     	to_account_id in 
						<foreach item="accountIdTmp" collection="query.accountIds" open="(" separator="," close=")">
			            	#{accountIdTmp}
			        	</foreach>
		        	)
			</if>
			<if test="query != null and query != '' and query.dayStart != null and query.dayStart != ''">  
			    and gmt_created &gt; #{query.dayStart} 
			</if> 
			<if test="query != null and query != '' and query.dayEnd != null and query.dayEnd != ''">  
			    and gmt_created &lt; #{query.dayEnd} 
			</if> 
		order by gmt_created desc 
		<if test="_pageSize != null and _pageSize != ''">  
		   	limit 
		   		#{_offset} , #{_pageSize}
		</if> 
	</select>
	
	<select id="count" resultType="java.lang.Long">
		select
			count(id)
		from
			u_money_account_flow
		where
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
			    and saas_id = #{saasId} 
			</if>  
			<if test="relatedId != null and relatedId != ''">  
			    and related_id = #{relatedId} 
			</if>  
			<if test="accountId != null and accountId != ''">  
			    and account_id = #{accountId} 
			</if>  
			<if test="type != null and type != ''">  
			    and type = #{type} 
			</if>  
			<if test="status != null and status != ''">  
			    and status = #{status} 
			</if>  
			<if test="toAccountId != null and toAccountId != ''">  
			    and to_account_id = #{toAccountId} 
			</if>  
			<if test="money != null and money != ''">  
			    and money = #{money} 
			</if>  
			<if test="note != null and note != ''">  
			    and note = #{note} 
			</if> 
			<if test="query != null and query != '' and query.accountIds != null and query.accountIds != ''">  
			    and (
				    	account_id in 
						<foreach item="accountIdTmp" collection="query.accountIds" open="(" separator="," close=")">
			            	#{accountIdTmp}
			        	</foreach>
				    OR
				     	to_account_id in 
						<foreach item="accountIdTmp" collection="query.accountIds" open="(" separator="," close=")">
			            	#{accountIdTmp}
			        	</foreach>
		        	)
			</if>
			<if test="query != null and query != '' and query.dayStart != null and query.dayStart != ''">  
			    and gmt_created &gt; #{query.dayStart} 
			</if> 
			<if test="query != null and query != '' and query.dayEnd != null and query.dayEnd != ''">  
			    and gmt_created &lt; #{query.dayEnd} 
			</if> 
	</select>

</mapper> 