<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="itemCompare">

	<resultMap id="resultMapObj" type="com.intkr.saas.domain.dbo.shopping.ItemCompareDO"> 
		<result property="id" column="id"/> 
		<result property="saasId" column="saas_id"/> 
		<result property="userId" column="user_id"/> 
		<result property="itemId" column="item_id"/> 
		<result property="gmtModified" column="gmt_modified"/> 
		<result property="gmtCreated" column="gmt_created"/> 
		<result property="isDeleted" column="is_deleted"/> 
	</resultMap>

	<insert id="insert" parameterType="com.intkr.saas.domain.dbo.shopping.ItemCompareDO">
		insert into
			item_compare(id , saas_id , user_id , item_id , gmt_modified , gmt_created , is_deleted)
		values
			(#{id} , #{saasId} , #{userId} , #{itemId} , now() , now() , 0)
	</insert>
	
	<delete id="delete">
		update
			item_compare
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id = #{primary}
	</delete>
	
	<delete id="deleteAll">
		update 
			item_compare
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id in 
				<foreach item="primary" collection="primarys" open="(" separator="," close=")">
					#{primary}
				</foreach>
	</delete>
	
	<update id="update" parameterType="com.intkr.saas.domain.dbo.shopping.ItemCompareDO">
		update 
			item_compare 
		set 
			<if test="userId != null">  
				user_id = #{userId} , 
			</if> 
			<if test="itemId != null">  
				item_id = #{itemId} , 
			</if> 
			gmt_modified = now()
		where 
			id = #{id}
		and
			is_deleted = 0
	</update>
	
	<select id="select" resultMap="resultMapObj">
		select
			*
		from
			item_compare
		where 
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
				and saas_id = #{saasId} 
			</if>  
			<if test="userId != null and userId != ''">  
				and user_id = #{userId} 
			</if>  
			<if test="itemId != null and itemId != ''">  
				and item_id = #{itemId} 
			</if>  
			<if test="query != null and query != '' and query.startTime != null and query.startTime != ''">
				and gmt_created  &gt; #{query.startTime}
			</if>
			<if test="query != null and query != '' and query.endTime != null and query.endTime != ''">
				and gmt_created &lt; #{query.endTime}
			</if>
		<if test="query != null and query != '' and query.orderBy != null and query.orderBy != ''">  
			order by 
				${query.orderBy} 
				<if test="query.order != null and query.order != ''">  
					${query.order} 
				</if>
		</if>
		<if test="_pageSize != null and _pageSize != ''">  
		   	limit 
		   		#{_offset} , #{_pageSize}
		</if> 
	</select>
	
	<select id="count" resultType="java.lang.Long">
		select
			count(id)
		from
			item_compare
		where
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
				and saas_id = #{saasId} 
			</if>  
			<if test="userId != null and userId != ''">  
				and user_id = #{userId} 
			</if>  
			<if test="itemId != null and itemId != ''">  
				and item_id = #{itemId} 
			</if>  
			<if test="query != null and query != '' and query.startTime != null and query.startTime != ''">
				and gmt_created  &gt; #{query.startTime}
			</if>
			<if test="query != null and query != '' and query.endTime != null and query.endTime != ''">
				and gmt_created &lt; #{query.endTime}
			</if>
	</select>

</mapper> 