<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tool">

	<resultMap id="resultMapObj" type="com.intkr.saas.domain.dbo.tool.ToolDO"> 
		<result property="id" column="id"/> 
		<result property="saasId" column="saas_id"/> 
		<result property="sidebar" column="sidebar"/> 
		<result property="type" column="type"/> 
		<result property="title" column="title"/> 
		<result property="feature" column="feature"/> 
		<result property="sort" column="sort"/> 
		<result property="gmtModified" column="gmt_modified"/> 
		<result property="gmtCreated" column="gmt_created"/> 
		<result property="isDeleted" column="is_deleted"/> 
	</resultMap>

	<insert id="insert" parameterType="com.intkr.saas.domain.dbo.tool.ToolDO">
		insert into
			cms_tool(id , saas_id , sidebar , type , title , feature , sort , gmt_modified , gmt_created , is_deleted)
		values
			(#{id} , #{saasId} , #{sidebar} , #{type} , #{title} , #{feature} , #{sort} , now() , now() , 0)
	</insert>
	
	<delete id="delete">
		update
			cms_tool
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id = #{primary}
	</delete>
	
	<delete id="deleteAll">
		update 
			cms_tool
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id in 
				<foreach item="primary" collection="primarys" open="(" separator="," close=")">
					#{primary}
				</foreach>
	</delete>
	
	<update id="update" parameterType="com.intkr.saas.domain.dbo.tool.ToolDO">
		update 
			cms_tool 
		set 
			<if test="sidebar != null">  
				sidebar = #{sidebar} , 
			</if> 
			<if test="type != null">  
				type = #{type} , 
			</if> 
			<if test="title != null">  
				title = #{title} , 
			</if> 
			<if test="feature != null">  
				feature = #{feature} , 
			</if> 
			<if test="sort != null">  
				sort = #{sort} , 
			</if> 
			gmt_modified = now()
		where 
			id = #{id}
		and
			is_deleted = 0
	</update>
	
	<select id="select" resultMap="resultMapObj">
		select
			*
		from
			cms_tool
		where 
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
				and saas_id = #{saasId} 
			</if>  
			<if test="sidebar != null and sidebar != ''">  
				and sidebar = #{sidebar} 
			</if>  
			<if test="type != null and type != ''">  
				and type = #{type} 
			</if>  
			<if test="title != null and title != ''">  
				and title = #{title} 
			</if>  
			<if test="feature != null and feature != ''">  
				and feature = #{feature} 
			</if>  
			<if test="sort != null and sort != ''">  
				and sort = #{sort} 
			</if>  
		<if test="query != null and query != '' and query.orderBy != null and query.orderBy != ''">  
			order by 
				${query.orderBy} 
				<if test="query.order != null and query.order != ''">  
					${query.order} 
				</if>
		</if>
		<if test="_pageSize != null and _pageSize != ''">  
		   	limit 
		   		#{_offset} , #{_pageSize}
		</if> 
	</select>
	
	<select id="count" resultType="java.lang.Long">
		select
			count(id)
		from
			cms_tool
		where
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
				and saas_id = #{saasId} 
			</if>  
			<if test="sidebar != null and sidebar != ''">  
				and sidebar = #{sidebar} 
			</if>  
			<if test="type != null and type != ''">  
				and type = #{type} 
			</if>  
			<if test="title != null and title != ''">  
				and title = #{title} 
			</if>  
			<if test="feature != null and feature != ''">  
				and feature = #{feature} 
			</if>  
			<if test="sort != null and sort != ''">  
				and sort = #{sort} 
			</if>  
	</select>

</mapper> 