<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="option">

	<resultMap id="OptionDO" type="com.intkr.saas.domain.dbo.conf.OptionDO"> 
        <result property="id" column="id"/> 
        <result property="saasId" column="saas_id"/> 
        <result property="type" column="type"/> 
        <result property="name" column="name"/> 
        <result property="value" column="value"/> 
        <result property="autoload" column="autoload"/> 
        <result property="note" column="note"/> 
        <result property="sort" column="sort"/> 
        <result property="feature" column="feature"/> 
        <result property="gmtModified" column="gmt_modified"/> 
        <result property="gmtCreated" column="gmt_created"/> 
        <result property="isDeleted" column="is_deleted"/> 
    </resultMap>

	<insert id="insert" parameterType="com.intkr.saas.domain.dbo.conf.OptionDO">
		insert into
			sys_options(id , saas_id , type , name , value , autoload , note , sort , feature , gmt_modified , gmt_created , is_deleted)
		values
			(#{id} , #{saasId} , #{type} , #{name} , #{value} , #{autoload} , #{note} , #{sort} , #{feature} , now() , now() , 0)
	</insert>
	
	<delete id="delete">
		update
			sys_options
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id = #{primary}
	</delete>
	
	<delete id="deleteAll">
		update 
			sys_options
		set 
			is_deleted = 1 ,
			gmt_modified = now()
		where
			id in 
				<foreach item="primary" collection="primarys" open="(" separator="," close=")">
	            	#{primary}
	        	</foreach>
	</delete>
	
	<update id="update" parameterType="com.intkr.saas.domain.dbo.conf.OptionDO">
		update 
			sys_options 
		set 
			<if test="type != null and type != ''">  
			    type = #{type} , 
			</if>  
			<if test="name != null and name != ''">  
			    name = #{name} , 
			</if>  
			<if test="value != null and value != ''">  
			    value = #{value} , 
			</if>  
			<if test="value == null or value == ''">  
			    value = '' , 
			</if> 
			<if test="autoload != null and autoload != ''">  
			    autoload = #{autoload} , 
			</if>  
			<if test="note != null and note != ''">  
			    note = #{note} , 
			</if>  
			<if test="sort != null and sort != ''">  
			    sort = #{sort} , 
			</if>  
			<if test="feature != null and feature != ''">  
			    feature = #{feature} , 
			</if>  
			gmt_modified = now()
		where 
			id = #{id}
		and
			is_deleted = 0
	</update>
	
	<select id="select" resultMap="OptionDO">
		select
			*
		from
			sys_options
		where 
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
			    and saas_id = #{saasId} 
			</if> 
			<if test="type != null and type != ''">  
			    and type = #{type} 
			</if> 
			<if test="name != null and name != ''">  
			    and name = #{name} 
			</if> 
			<if test="value != null and value != ''">  
			    and value = #{value} 
			</if> 
			<if test="autoload != null and autoload != ''">  
			    and autoload = #{autoload} 
			</if> 
		<if test="query != null and query != '' and query.orderBy != null and query.orderBy != ''">  
		    order by 
				${query.orderBy} 
				<if test="query.order != null and query.order != ''">  
					${query.order} 
				</if>
		</if>
		<if test="_pageSize != null and _pageSize != ''">  
		   	limit 
		   		#{_offset} , #{_pageSize}
		</if> 
	</select>
	
	<select id="count" resultType="java.lang.Long">
		select
			count(id)
		from
			sys_options
		where
			is_deleted = 0
			<if test="id != null and id != ''">  
			    and id = #{id} 
			</if>  
			<if test="saasId != null and saasId != ''">  
			    and saas_id = #{saasId} 
			</if> 
			<if test="type != null and type != ''">  
			    and type = #{type} 
			</if> 
			<if test="name != null and name != ''">  
			    and name = #{name} 
			</if> 
			<if test="value != null and value != ''">  
			    and value = #{value} 
			</if> 
			<if test="autoload != null and autoload != ''">  
			    and autoload = #{autoload} 
			</if> 
	</select>

</mapper> 